<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
  <table>
    <tr>
  		<th> Name </th>
  		<th> Skill </th>
  		<th> Years </th>
  		<th> Formal? </th>
  	</tr>
  <% @users.each do |user| %>
	  <tr>
	  	<!--  Name -->
	  	<td><%= user.name %></td>

	  	<!-- Skills -->
	  	<td><% user.skills.each do |skill|%>
	  		<%= skill.name %>&nbsp(<%=skill.context%>)<br> 
	  		<%end%></td>

	  	<!-- Years of experience -->
	  	<td> <% user.proficiencies.each do |proficiency| %>
	  		<%= proficiency.years_of_experience %><br>
	  		<%end %></td><br>

	  	<!-- Formal? -->
	  	<td><% user.proficiencies.each do |proficiency| %>
		  	<% if proficiency.is_formal == true %>
		  		yes 
			<% else %>
				 no 
			<% end %><br>
			<%end%></td><br>
	  <tr>
  	<% end %>
  </table>
</div>
